@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-size: 1rem;
  font-family: 'Pretendard', sans-serif;
  color: #333;
  background-color: #fafafa;
  scroll-behavior: smooth;
}

a {
  color: rgb(0, 53, 105);
  text-decoration: none;
  outline: none;
}

a:hover,
a:active,
a:visited {
  color: rgb(0, 53, 105);
  text-decoration: none;
}

.pointer-none {
  pointer-events: none;
}

.color-success {
  color: rgb(0, 62, 230);
}

.color-unavailable {
  color: #666;
}

textarea,
input[type] {
  -webkit-appearance: none;
  border-radius: 0;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  top: 0;
  z-index: 10;
  height: 110px;
  background-color: #fff;
  border-bottom: 1px solid #003ee6;
}

.header_img_wrap {
  height: 100px;
  background-color: #fff;
}

.header_img {
  background: url('../assets/header.svg') no-repeat center center;
}

header .title {
  font-family: 'ChosunGs';
  font-size: 1.4rem;
  color: rgb(0, 62, 230);
  border: 1px solid rgb(0, 62, 230);
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
}

header .header-contents {
  max-width: 100vw;
}

header .header-contents .search_form input {
  font-size: 16px;
}

header .reading_list {
  font-weight: 300;
  font-size: 16px;
  color: rgb(0, 62, 230);
  border: 1px solid rgb(0, 62, 230);
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
}

@media screen and (max-width: 320px) {
  header .header-contents .search_form input {
    width: 80px;
  }
}

@media screen and (max-width: 768px) {
  header .header_img_wrap {
    height: 30%;
  }

  header .header-contents .search_form input {
    margin: 0.1rem;
  }

  header .header-contents .search_form .search_btn {
    display: none;
  }

  header .header-contents .search_form input {
    margin-right: 3px;
  }
}

header input {
  color: #003ee6;
  font-size: 12px;
  min-width: 200px;
  background: #fafafa;
  border: solid 1px #003ee6;
  box-shadow: 5px 6px 0px #0030b3;
}

header input::placeholder {
  color: #003ee6;
}

.btn {
  padding: 9px 8px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: rgb(0, 62, 230);
  border-radius: 3px;
  border-style: none;
  outline: 0;
}

/*------------------------------------*\
  #DROPDOWN BUTTON
\*------------------------------------*/

.dd-btn {
  display: inline-block;
  cursor: pointer;
}

.dd-btn:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  transform: translateY(-50%);
  border-top: 0.3em solid #fff;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style-type: none;
}

.dd-menu {
  display: none;
}

.show + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
  color: rgb(0, 48, 179);
}

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 20vw;
  background-color: #fafafa;
}

@media screen and (max-width: 1024px) {
  main {
    padding: 3rem 10vw;
  }
}

main h2.title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 53, 105);
}

main .information {
  line-height: 1.5;
  word-break: keep-all;
  background-color: #fff;
  border: solid 1px rgb(0, 62, 230);
  border-radius: 3px;
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
}

/*------------------------------------*\
  #CARD
\*------------------------------------*/

.card {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgb(0, 62, 230);
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
}

@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
  }
}

.card .thumbnail_wrap img {
  border: 1px solid rgb(0, 62, 230);
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
}

.card .info_wrap {
  max-width: 100%;
}

.card .info_wrap .title_wrap {
  font-size: 22px;
  font-weight: 600;
  color: rgb(17, 17, 17);
}

.card .info_wrap .title_wrap .title {
  width: 95%;
  word-break: keep-all;
}

.card .info_wrap .title_wrap .title:before {
  content: '『';
}

.card .info_wrap .title_wrap .title:after {
  content: '』';
}

.card .info_wrap .title_wrap a {
  font-size: 13px;
}

.card .info_wrap .authors_wrap {
  font-size: 12px;
  line-height: 17px;
}

.card .info_wrap .authors_wrap .authors {
  font-weight: 700;
}

.card .info_wrap .description {
  line-height: 1.5;
  word-break: keep-all;
}

.card .info_wrap .message {
  flex: 1 1 0%;
  color: rgb(17, 17, 17);
}

.card .info_wrap .message span {
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

.card .info_wrap .info_button_wrap .btn {
  color: #fff;
}

/*------------------------------------*\
  #SPINNER
\*------------------------------------*/
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  border: 5px solid #666;
  border-color: #666 transparent #666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

.pagination a {
  padding: 2px 8px;
  color: rgb(0, 62, 230);
  border: 1px solid rgb(0, 62, 230);
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
  background-color: #fff;
  cursor: pointer;
}

.pagination .page_number + .page_number {
  margin-left: 8px;
}

.pagination a.active {
  color: #fff;
  background-color: rgb(0, 62, 230);
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  color: rgb(153, 153, 153);
}

footer .top {
  display: none;
  right: 0;
  bottom: 20px;
  color: rgb(0, 62, 230);
  border: 1px solid rgb(0, 62, 230);
  background: #fafafa;
  box-shadow: rgb(0, 48, 179) 5px 6px 0px;
  white-space: nowrap;
}
