<!doctype html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="영도 도서관의 도서 소장 여부와 도서 대출 상태를 검색한다">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/icon.png">
    <%- injectScript %>
        <title>
            <%- title %>
        </title>
</head>

<body>
    <div id="header_container"></div>
    <main id="content_container"></main>
    <div id="footer_container"></div>
    <noscript> 
        이 사이트의 기능을 활용하기 위해서는 자바스크립트를 활성화 시켜야 합니다. 
        <a href="http://www.enable-javascript.com/ko/" target="_blank"> 브라우저에서 자바스크립트를 활성화하는 방법</a>을 참고 하세요. 
        </div>
    </noscript>
</body>

</html>