<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="apple-touch-icon" href="/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="영도 도서관의 도서 소장 여부와 도서 대출 상태를 검색한다">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>
        <%- title %>
    </title>
    <%- injectScript %>
</head>

<body>
    <div id="app"></div>
</body>

</html>